apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  # The name of our HPA
  name: iris-api-hpa
spec:
  # This tells the HPA *what* to scale.
  # It targets our 'iris-api-deployment'
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: iris-api-deployment
  
  # This sets the rule from your assignment:
  # "default pod availability of 1"
  minReplicas: 1
  # "with max_pods: 3"
  maxReplicas: 3

  # This is the "thermostat" trigger:
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        # We will scale up if the average CPU
        # usage across all Pods goes above 50%
        type: Utilization
        averageUtilization: 50
    # Install the gke-gcloud-auth-plugin.
    # This is required for kubectl to authenticate with GKE.
    - name: Install gke-gcloud-auth-plugin
      run: gcloud components install gke-gcloud-auth-plugin
    # --- Build and Push Docker Image ---
    - name: Configure Docker
      run: gcloud auth configure-docker ${{ env.GKE_REGION }}-docker.pkg.dev

    - name: Build Docker Image
      run: docker build -t ${{ env.IMAGE_NAME }}:latest .

    - name: Tag Docker Image
      run: |
        docker tag ${{ env.IMAGE_NAME }}:latest \
        ${{ env.GKE_REGION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY }}/${{ env.IMAGE_NAME }}:latest

    - name: Push Docker Image to Artifact Registry
      run: |
        docker push \
        ${{ env.GKE_REGION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
# --- Deploy to Kubernetes (GKE) ---
    - name: Get GKE Cluster Credentials
      # This configures 'kubectl' (the Kubernetes command line tool)
      # to talk to your GKE cluster
      run: |
        gcloud container clusters get-credentials ${{ env.GKE_CLUSTER_NAME }} \
        --region ${{ env.GKE_REGION }}

    - name: Deploy to GKE
      # This is the "magic" step. It applies your "instruction manuals"
      # to the cluster. Kubernetes will see the new image path
      # and automatically start a "rolling update" to your new version.